.button {
    color: #000;
    padding: 10px 20px 10px 20px;
    border: 0px;
    border: 0px solid;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
    background-color: #faa444;
}

:hover.button{
    border: 0px;
    color: #fff;
    background-color: #c54105;
}