#wall{
    padding-top: 20px;
}

#table {
    color: #000;
    margin-top: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
    width: 100%;
}

.collum {
    border-radius: 5px;
    background-color: #c4c2c2;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.leadCell{
    background-color: #Ffff;
    width: 100%;
}

#tableStyle{
    width: 100%;
}

#frameIcons{
    text-align: center;
}

#button{
    background-color: #4a7138;
    margin-top: 38px;
    margin-bottom: 38px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  
    #frame {
        overflow-x: auto;
        margin: 0px;
        padding: 0px;
    }

    #table {
        display: table;
        white-space: nowrap;
        width: 100%;
        padding: 0px;
    }

    #frameTools {
        margin-top: 0px;
        gap: 60px;
    }
  
  }